@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
    from {
        bottom: -100px; 
        opacity: 0;
    }
    to {
        bottom: 20px; 
        opacity: 1;
    }
}

.success-message {
    width: 40vh;
    height: 4vh;
    padding: 5.5px 25px;
    background-color: rgb(0, 165, 44);
    color: white;
    border-radius: 4px;
    position: fixed; 
    bottom: -100px;  
    left: 50%;
    transform: translateX(-50%);
    animation: slideUp 0.5s ease-out forwards; 
}



.error-message{
    width: 40vh;
    height: 4vh;
    padding: 5.5px 25px;
    background-color: rgb(128, 21, 21);
    color: white;
    border-radius: 4px;
    position: fixed; 
    bottom: -100px;  
    left: 50%;
    transform: translateX(-50%);
    animation: slideUp 0.5s ease-out forwards; 
  } 
